<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">  
    </head>
    <body>
        <div class="topcorner">
            <p>Project Name: {{ name }} (DEVELOPMENT VERSION)</p>
            <p>Student Name: ({{ netid }})</p>
        </div>
        <form class="form-inline global-search">
            <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
                C
                <span style="color: #EA4335; ">S</span>
                <span style="color: #FBBC05; ">4</span>
                3
                <span style="color: #34A853; ">0</span>
                <span style="color: #EA4335; ">0</span>
            </h1>
            <br><br>
            <div class="form-group">
                <h4>{{ name }}, help me fact check: </h4>
                <br><br>
                <input id="input" type="text" name="search" class="form-control" placeholder="This Twitter Celebrity" value = {{user}}>
                <br><br>
                <input id="input_2" type="text" name="keywords" class="form-control" placeholder="Keywords (optional)">
                
            </div>
            <button type="submit" class="btn btn-info"> Check </button>
        </form>
        <form class="form-inline global-search">
        {% if data %}
            {% if keywords %}
                <h4>Showing recent tweets by: "{{user}}" containing "{{keywords}}"</h4>
            {% else %}
                <h4>Showing recent tweets by: "{{user}}"</h4>
            {% endif %}
            <br><br>
            {% for d in data %}  
                <br>
                <p>{{d}}: </p>
            {% endfor %}
        {% endif %}
        </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>

</html>
