{% extends "layout.html" %}
{% block content %}
        
<div class = "text-center">
    <a href = "/">
        <img src = "/static/media/logo.jpg" class = "img-fluid" alt = "Tweeted Facts Logo">
    </a>
    <h1>Tweeted Facts</h1>
    <h2>Your Trusted Fact Checker for Untrusted Fact Spreaders</h2>
</div>

<form action = "/results">
    <div class="row d-flex justify-content-center" style = "margin-top: 10px">
        <div class="col-md-8">
            <input id="input" type="text" name="search" class="form-control" placeholder="Twitter Celebrity" value = "{{user}}" required>
        </div>
    </div>
    <div class="row d-flex justify-content-center" style = "margin-top: 5px">
        <div class="col-md-8">
            {% if topic%}
                <input id="input_2" type="text" name="terms" 
                class="form-control" placeholder="Topic or Keywords (optional)"
                value = "{{topic}}">
            {% else %}
<!--                 <input id="input_2" type="text" name="terms" 
                class="form-control" placeholder="Topic or Keywords (optional)"> -->
                <input id="input_2" type="text" name="terms" 
                class="form-control" placeholder="Topic or Keywords (optional) feature coming soon!" disabled>
            {% endif %}
        </div>
    </div>
    <div class="row d-flex justify-content-center" style = "margin-top: 5px">
        <button type="submit" class="btn btn-primary mb-2" >Fact Check &nbsp; <i class="far fa-search"></i></button>
    </div>
</form>
{% endblock content %}