<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <link rel="stylesheet" type="text/css" href="/static/zx.css"> -->
    <link rel="stylesheet" href="/static/bootstrap_4_4_1.min.css">
    <!-- <link rel="stylesheet" href="/static/main.css"> -->
    <link rel="stylesheet" href="/static/zx.css">

    <script src="/static/zx.js"></script>

</head>


<body>
    <div class="text-right" style = "margin-top: 10px">
        <h6>Project Name: {{ name }} (DEVELOPMENT VERSION)</h6>
        <h6>Student Name: ({{ netid }})</h6>
    </div>

<!--     <div class="text-center">
        <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
            C
            <span style="color: #EA4335; ">S</span>
            <span style="color: #FBBC05; ">4</span>
            3
            <span style="color: #34A853; ">0</span>
            <span style="color: #EA4335; ">0</span>
        </h1>
    </div> -->
<!--<a href="/"> 
        <div class="text-center">
            <h1 style="font-size: 45px">
                TWEETED FACTS
            </h1>
        </div>
    </a> 
    <h5 class = "text-center" style = "margin-bottom: 20px">
        Your Trustworthy Fact Checker for Untrustworthy Fact Spreaders
    </h5> -->
    <main class = "container" style = "margin-top: 7%">
        <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
        <div class = "text-center">
            <a href = "/">
                <img src = "/static/media/logo_600x350px.png" class = "img-fluid" alt = "">
            </a>
        </div>
        <a id = "results_page">
        <form action = "#results_page">
            <div class="row d-flex justify-content-center" style = "margin-top: 10px">
                <div class="col-md-8">
                    <input id="input" type="text" name="search" 
                    class="form-control" placeholder="Twitter Celebrity" 
                    value = "{{user}}" required>
                </div>
<!--                 <div class="invalid-feedback">
                    Please enter a twitter username to search for. 
                </div> -->
            </div>
            <div class="row d-flex justify-content-center" style = "margin-top: 5px">
                <div class="col-md-8">
                    {% if topic%}
                        <input id="input_2" type="text" name="terms" 
                        class="form-control" placeholder="Topic or Keywords (optional)"
                        value = "{{topic}}">
                    {% else %}
                        <input id="input_2" type="text" name="terms" 
                        class="form-control" placeholder="Topic or Keywords (optional)">
                    {% endif %}
                </div>
            </div>
            <div class="row d-flex justify-content-center" style = "margin-top: 5px">
                    <button type="submit" class="btn btn-primary mb-2">Fact Check</button>
            </div>
            <!-- <a href = "#results_page"> sakdl; </a> -->
        </form>
        </a>
        <div class="row">
            <div class="col">
                <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
            </div>

            <div class="col">

            </div>
        </div>
        <div class = "container">
            <div class="row justify-content-md-center">
                <div class="col-lg">
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small class="text-muted">Donec id elit non mi porta.</small>
                    </a>
                </div>

                <div class="col-lg">
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small class="text-muted">Donec id elit non mi porta.</small>
                    </a>
                </div>
            </div>
        </div>        
        <div id="page2">
            <div class="left">
                {% if data %}
                    {% if topic%}
                        <h3>Suggested @<u>{{user}}</u> "{{topic}}" related news</h3>
                    {% else %}
                        <h3>Suggested @<u>{{user}}</u> related news</h3>
                    {% endif %}
                    {% for i in range(3) %}
                        <a href="/">  Fill in URL to news
                            <div class="element">
                                <h4> Fill in news title</h4>
                                <h5><strong><em>Keyword:</em></strong> {{terms_query}}</h5> Not sure this is correct, but here should topic 
                                <h5><strong><em></em>Sorce:</strong>  Fill in news source </h5>
                            </div>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="right">
                {% if data %}
                    <h3>@<u>{{user}}</u> latest 5 tweets</h3>
                    {% for i in range(5) %}  
                        <a href="/">  Fill in URL to tweets
                            <div class="element">
                                <h5><strong><em>Posted:</em></strong> {{date_posted}}</h5> Not sure this is correct, but here should fill in tweeted date 
                                <p>"[{{data[i]}}]"</p>
                                <h5>checked {{counts[i]}} times </h5>
                            </div>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>  
        </div>
        <div class="text-center">
            {% if data %}
                {% if topic%}
                    <h5>Showing recent tweets by: "{{user}}" containing "{{topic}}"</h5>
                {% else %}
                    <h5>Showing recent tweets by: "{{user}}"</h5>
                {% endif %}
                <div class="d-flex flex-column">
                    {% for i in range(5) %}  
                        <div class="p-2">[{{data[i]}}], checked {{counts[i]}} times. </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class = "text-center text-muted" style = "margin-top: 6%">
            {% if data %}
                {% if topic %}
                    #DEBUG: Search counts <br>{ {{user}}: {{count_1}}, &nbsp; {{topic}}: {{count_2}}, &nbsp; <br>
                    {{user}} + {{topic}}: {{count_3}}, &nbsp; your IP: {{user_ip}} }
                {% else %}
                    #DEBUG: Search counts <br>{ {{user}}: {{count_1}}, &nbsp; your IP: {{user_ip}} }. Also try the second (topic) field
                {% endif %}
            {% else %}
                #DEBUG: your IP: {{user_ip}}. make a search to show debug data. <br>repeated searches from same IP will not affect data. 127.0.0.1 is IP for localhost. 
            {% endif %}
        </div>
    </main>

    


    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>



</html>
